.formulario-producto {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #242424;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
}

.form-titulo {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ddd;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.form-input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}
.form-input:hover {
  border-color: #ef5f01;
  outline: none;
}

.form-input:focus {
  border-color: #ef5f01;
  outline: none;
}

.guardar {
  width: 100%;
  padding: 0.75rem;
  background-color: #ef7101;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.guardar:hover {
  background-color: #ef5f01;
}

.form-mensaje {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: #555;
}

.imagen-preview {
  margin-top: 1rem;
  text-align: center;
}

.imagen-preview img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive grid */
@media (min-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .formulario-producto {
    padding: 1rem;
  }

  .form-input, .form-boton {
    font-size: 0.95rem;
  }
}

