/* Estilo general para las tarjetas */
.loading-bar {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  background: transparent;
  border: 0 solid #A4F522;
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #ff9333;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #ff9333;
  border-right: 5px solid #ff9333;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}


.lista-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-listaVentas {
  color: #ddd;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.grid-tarjetasVentas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Estilo de las tarjetas individuales */
.tarjeta-venta {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen-venta {
  width: 80%;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cuerpo-tarjeta {
  width: 100%;
  text-align: center;
}

.detalles-venta p {
  color: #ddd;
  margin: 5px 0;
  font-size: 0.8rem;
}

.estado-pago {
  font-weight: bold;
  color: green;
}

.estado-pago.pendiente {
  color: red;
}

.boton-eliminar {
  font-size: 0.8rem;
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.boton-eliminar:hover {
  background-color: darkred;
}

/* Botón Volver */
.boton-volver {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.boton-volver:hover {
  background-color: #0056b3;
}

.cargando, .error {
  text-align: center;
  font-size: 1.2rem;
  color: #d9534f;
}

/* Consultas de medios para pantallas pequeñas */
@media (max-width: 768px) {
  .titulo-listaVentas {
    color: white;
    font-size: 1.5rem;
  }

  .grid-tarjetasVentas {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }

  .tarjeta-venta {
    width: 110%;
  }

  .imagen-venta {
    width: 100%;
    height: 80px;
    object-fit: cover;
  }

  .cuerpo-tarjeta {
    width: 120%;
  }

  .detalles-venta p {
    font-size: 0.7rem;
  }

  .boton-eliminar {
    padding: 6px 12px;
  }
}


