.app-container {
  width: 100%;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  flex-direction: row;
}

/* Menú lateral */
.menu-lateral {

  border-radius: 12px;
  width: 30%;
  max-width: 250px;
  background-color: #242424;
  padding: 20px;
box-shadow: 0 0 10px 3px #ff9333; /* Sombra verde difuminada */
  margin: 3px;
}

.menu-boton {
  display: block;
  position: relative;
  top: 8rem;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff9333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-boton:hover {
  background-color: #ef7101;
}

/* Contenido principal */
.contenido-principal {
  margin: 3px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #242424;
  padding: 20px;
  overflow-y: auto;
box-shadow: 0 0 10px 3px #ff9333; /* Sombra verde difuminada */


}

.bienvenida{
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 15rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ------------------------ */
/* RESPONSIVE ADAPTATIONS  */
/* ------------------------ */

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .menu-lateral {
    width: 100%;
    max-width: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .menu-boton {
    position: static;
    width: auto;
    min-width: 120px;
    margin-bottom: 10px;
    flex: 1 1 40%;
  }

  .contenido-principal {
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 15px;
  }
  .bienvenida{
    font-size: 30px;
    color: #f4f4f4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 12rem;

  }
}

